<a href="https://colab.research.google.com/github/SonHeeryun/firstcode/blob/main/CTBL_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 학생으로부터 성적을 입력받아 합격유무를 출력하는 코드작성

- 사용변수: grads
- 사용수식: grade>=70:

In [2]:
Grade = int(input("성적입력: "))
if Grade >= 70:
  print("70점 이상이므로 합격")
else:
  print("70점 이하는 불합격")

성적입력: 80
70점 이상이므로 합격

2. 쇼핑몰의 배송료를 계산하는 코드 작성
- 변수명 : price, shipping_cost
- 수식 : price >=20000
- shipping_cost = 3000

In [12]:
price = int(input("구입금액 입력: "))
if price >= 20000:
  shipping_cost = 0
  print(f'구입금액이 {price}원 이상입니다. ')
else:
    shipping_cost = 3000
    print("구입금액이 20000원 이하입니다")
print(f' 회원님의 배송료는  {shipping_cost}입니다. ')

구입금액 입력: 20000
구입금액이 20000원 이상입니다.
 회원님의 배송료는  0입니다.

3. 근무시간에 따라 초과근무와 정상근무를 판별하는 코드작성
- 변수 : work_hour
- 수식 : >=, 기준시간 : 72시간

In [17]:
work_hour = int(input("근무시간을 작성하시오"))
if work_hour >= 72:
  print(f' {work_hour}시간 근무로 초과근무 입니다. ')
else:
  print(f' {work_hour}시간 근무로 정상근무 입니다. ')

근무시간을 작성하시오70
 70시간 근무로 정상근무 입니다.

4. 정수를 입력받아서 짝수인지 홀수인지 판별하는 코드작성
- 변수 : num
- 수식 : (num %2) != 0:

In [16]:
num= int(input("정수를 입력하시오"))
if (num %2) != 0:
  print("홀수입니다")
else:
  print("짝수입니다. ")

정수를 입력하시오4
짝수입니다.

5. 사용자의 이름과 나일르 입력받고, 답변하는 코드 작성
- 입력 : 성명 - name
- 입력 : 나이 - age
- 수식 : if age <= 20:

최종 출력물
- 이름을 입력하시오.: 손희륜
- 나이를 입력하시오.: 20
- (1) 프로그래밍을 배우는 최적의 나이입니다.
- (2) 아직도 늦지 않았습니다. 불광불급

In [23]:
name = input("이름을 입력하시오")
age = int(input("나이를 입력하시오"))
if age <= 20:
  print("프로그래밍을 배우는 최적의 나이입니다")
else:
  print("아직도 늦지 않았습니다. 도전정신")

이름을 입력하시오손흐륜
나이를 입력하시오30
아직도 늦지 않았습니다. 도전정신

In [25]:
import random # 난수 생성을 위한 라이브러리를 불러옵니다.

def generate_lotto(): # 로또 번호를 생성하는 함수를 정의합니다.
    return random.sample(range(1, 46), 6) # 1부터 45까지의 숫자 중에서 무작위로 6개를 선택합니다.

lotto_numbers = generate_lotto() # 로또 번호를 생성합니다.
lotto_numbers.sort()  # 생성된 로또 번호를 오름차순으로 정렬합니다.
print(lotto_numbers)  # 생성된 로또 번호를 출력합니다.

[1, 7, 29, 35, 40, 43]

In [27]:
# 사용자로부터 이름과 나이를 입력받는 코드입니다.
name = input("이름을 입력하시오.: ") # 사용자의 이름을 입력받습니다.
age = int(input("나이를 입력하시오.: ")) # 사용자의 나이를 입력받습니다.

# 사용자의 나이에 따라 다른 메시지를 출력합니다.
if age <= 20: # 만약 사용자의 나이가 20세 이하라면,
    print(f"(1) {name}님, 프로그래밍을 배우는 최적의 나이입니다.") # 이 메시지를 출력합니다.
else: # 만약 사용자의 나이가 20세 초과라면,
    print(f"(2) {name}님, 아직도 늦지 않았습니다. 도전정신") # 이 메시지를 출력합니다.

이름을 입력하시오.: 손희륜
나이를 입력하시오.: 30
(2) 손희륜님, 아직도 늦지 않았습니다. 불광불급